*.class
*.jar
*.war
*.ear
*.log
*.svn
*.iml
*.rar
*.zip
.classpath
.git
.idea
.ysera_core/target
.spark-warehouse
ysear-spark-common/target
ysear-spark-core/target
ysear-spark-plugin/*/target
ysear-spark-spi/target